# Put into /etc/udev/rules.d
ACTION=="add", SUBSYSTEM=="usb", DRIVER=="usb", ENV{ID_SERIAL_SHORT}="29e32ae4", MODE="0660", GROUP="plugdev", RUN+="/home/aleroza/UIT -usb start"
ACTION=="remove", SUBSYSTEM=="usb", ENV{ID_SERIAL_SHORT}="29e32ae4", MODE="0660", GROUP="plugdev", RUN+="/home/aleroza/UIT -usb stop"