# Put into /etc/udev/rules.d
ACTION=="add", SUBSYSTEM=="usb", DRIVER=="usb", ATTR{idVendor}=="2717", ATTR{idProduct}=="ff08", MODE="0660", GROUP="plugdev", RUN+="/home/aleroza/usb-tethering.sh"
ACTION=="remove", SUBSYSTEM=="usb", ENV{ID_VENDOR_ID}="2717", ENV{ID_MODEL_ID}="ff08", MODE="0660", GROUP="plugdev", RUN+="/home/aleroza/meh.sh"
